# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.devel

.venv
venv
start_moonraker
*.env
*.egg-info
.pdm-python
build
dist
share

.vscode
.mypy_cache
.pdm-build
.pytest_cache

# Sometimes uv lock generates the version file and places it in
# the repo.  We don't want to commit this, so ignore it
moonraker/__version__.py
