# Python dependencies for Moonraker
tornado==6.1.0
pyserial==3.4
pillow==8.3.2
lmdb==1.2.1
streaming-form-data==1.8.1
distro==1.5.0
inotify-simple==1.3.5
libnacl==1.7.2
paho-mqtt==1.5.1
pycurl==7.44.1
zeroconf==0.37.0
preprocess-cancellation==0.1.5
